@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@400;900&display=swap");

.para {
  font-family: "Tourney", cursive;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.753);
}

.btn {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.753);
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
}

.input {
  outline: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.596);
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.45);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.596);
}

input:focus::placeholder {
  color: transparent;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
