@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: 'Tourney', cursive;
  font-weight: bold;
  background: linear-gradient(to right,#ff5edf, #04c8de);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
